<%- include('header') -%>
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
    <div class="jumbotron text-center"> 
        <% if (locals.albumupdates){%>
            <img class="img-fluid" src="../../imgs/MMWlogo.png"> 
        <%} else if (locals.artistupdates || locals.songsupdates){%>
                <img class="img-fluid" src="../../../imgs/MMWlogo.png"> 
        <%} else if (locals.myartists || locals.mysongs) {%>
                <img class="img-fluid" src="../imgs/MMWlogo.png">
        <%} else{%>
            <img class="img-fluid" src="imgs/MMWlogo.png"> 
        <%}%>
        <form action="/logout">
            <button class="btn" id="signout">
                Sign out <i class="fa fa-sign-out fa-1x"></i>
            </button>
        </form>
    </div>
    <%if (locals.myalbums) {%>
        <%- include('myalbums') -%>
    <%} else if (locals.myartists){%>
        <%- include('myartists') -%> 
    <%} else if (locals.mysongs){%> 
        <%-include('mysongs') -%>
    <%}%>
</body>
</html>
