<%- include('header') -%>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
        <div class="container">
            <img class="img-fluid" src="imgs/MMWlogo.png">
            <form action="/login" method='POST'>
                <div class="form-group">
                    <label for="email"><span style="font-family: Segoe print; font-weight: bold; color: #787a78;">Email</span></label>
                    <input type="text" class="form-control" id="email" placeholder="Enter email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="pwd"><span style="font-family: Segoe print; font-weight: bold; color: #787a78;">Password</span></label>
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" required>
                </div>
                <% if(locals.invalid){ %>
                    <div class="alter alert-danger text-center">
                        <%= invalid %>
                    </div>
                <% } %>
                <button type="submit" class="btn btn-block">Sign in</button>
            </form>
            <h6 class="txt">New to MyMusicWorld?</h> <a href="/signup" id="sign">Sign up</a>
         </div>
</body>
</html>
