<%- include('header') -%>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
        <div class="container">
            <img class="img-fluid" src="imgs/MMWlogo.png">
            <form action="/login" method='POST'>
                <div class="form-group">
                    <label for="uname"><span style="font-family: Segoe print; font-weight: bold; color: #787a78;">Username</span></label>
                    <input type="text" class="form-control" id="uname" placeholder="Enter username" name="email" required>
                </div>
                <div class="form-group">
                    <label for="pwd"><span style="font-family: Segoe print; font-weight: bold; color: #787a78;">Password</span></label>
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" required>
                </div>
                <button type="submit" class="btn btn-block">Sign in</button>
            </form>
            <h6>or</h6>
            <div class="bottom">
                <a class="btn btn-group btn-social btn-facebook"><span class="fa fa-facebook"> <span class="facebook">Facebook</span></span></a>
                <a class="btn btn-group btn-social btn-google"><span class="fa fa-google "> <span class="google">Google</span></span></a>
            </div>
            <h6 class="txt">New to MyMusicWorld?</h> <a href="/signup" id="sign">Sign up</a>
         </div>
</body>
</html>
