<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            background-color: #fdf4f5;
        }
        .container{
            width: fit-content;
            height: 500px;
            border-radius: 2%;
            padding: 10px 50px;
            margin: 70px auto;
        }
        h1{
            color: #6e0016;
            font-family: 'Segoe print'; 
            font-weight: bold;
            text-align: center;
        }
        p{
            color: #6d6d6d;
            text-align: center;
        }
        input{
            color: white;
            background-color: #88001b;
            font-family: 'Segoe print'; 
            font-weight: bold;
            font-size: 20px;
            margin-left: 130px;
            margin-top: 100px;
            border-radius: 5px;
            border: none;
            padding: 10px 20px;
        }
        input:hover{
            background-color: #6e0016;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>OOoooopsss.</h1>
        <p>Maybe you have been lost. For more music...Go back!</p>
        <form action="/">
            <input type="submit" value="Back"></input>
        </form>
    </div>
</body>
</html>