<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- FontAwesome and social-media bootstrap-->
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <title>MyMusicWorld</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
    <div class="jumbotron text-center">
        <img class="img-fluid" src="imgs/MMWlogo.png"> 
        <form action="/">
            <button class="btn" id="signout">
                Sign out <i class="fa fa-sign-out fa-1x"></i>
            </button>
        </form>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <ul>
                    <li><a href="">MyAlbums</a></li>
                    <li><a href="">MyArtists</a></li>
                    <li><a href="">MySongs</a></li>
                </ul>
            </div>
            <div class="col-lg-10" id="add">
                <form action="">
                    <button class="btn">
                        <i class="fa fa-plus-circle fa-2x" id="plus"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>