body{
    background-color: #292929;
}

.jumbotron{
    background-color: #424242;
    padding: 0px;
    border-radius: 0%;
    height: 95px;
    border-bottom: #7f7f7f  2px solid;
}

#signout{
    position: relative;
    margin-top: -70px;
    margin-left: 85%;
    color: #7f7f7f;
}

#signout:hover{
    color: #5e5e5e;
}

img{
    width: 150px;
    height: 150px;
}

.container{
    position: absolute;
}

.col-lg-2{
    padding: 60px 0px;
    font-family: 'Segoe print'; 
    text-align: center;
    width: 150px;
    border-radius: 25px;
}

table{
    margin-top: 5em;
}

input{
    background-color: #292929;
    color: white;
    size: fit-content;
}

ul{
    list-style: none;
}

select{
    margin-top: 8em;
    padding: 5px 5px;
    background-color: #292929;
    color: white;
    border: none;
    max-width: 80%;
}

li{
    margin-top: 3em;
    border-radius: 25px;
    padding: 5px 5px;
}

li:hover{
    background-color: #88001b;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: #b8b8b8;
    text-decoration: none;
}

.btn{
    color: #88001b;
}

.btn:hover{
    color: #4b000f;
}

.btn:focus{
    box-shadow: none;
}

#plus{
    border-style: dotted;
    padding: 2px 14px;
    margin-top: 1.5em;
}
